## A Hands-on Introduction to Data Manipulation using Pandas  

### Meet the Instructor:
Aashita Kesarwani  
Current job: Scientific Computing Specialist at Harvey Mudd College  
Background:  
- PhD in Mathematics from Tulane University (Number Theory)
- Undergraduate from IIT (Indian Institute of Technology) in Applied Mathematics   

Other roles: 
- Visiting AI Researcher at [deepkapha.ai](https://www.linkedin.com/company/digitalis-kapha-b-v-/) in 2019
- Technical Reviewer, Deep Learning for Natural Language Processing course by [Packt](https://www.packtpub.com/)
- [Open source contributor](https://pypi.org/user/Aashita/)

### Today's session

- Introduction to Jupyter notebook  
- Introduction to pandas 
- Exercise session for data manipulation using pandas 
- Machine Learning theory: Decision Trees and Random Forest
- Introduction to scikit-learn
- Small in-class project for predicting election results using Decision Trees/Random Forest

#### Topics to be covered in `pandas`:  
- Pandas dataframes as the data structure for datasets
- Slicing and indexing dataframes using conditionals as well as iloc and loc methods.
- Statistical summary and exploration of dataframes
- Basic plots such as bar graph, piechart, etc.
- Basic operations such as dropping rows/columns, setting index, replacing values of a column using a dictionary, etc
- Regular expressions for data extraction
- Feature engineering such as creating new features 


We will explore the [Titanic dataset from Kaggle](https://www.kaggle.com/c/titanic). The dataset is provided as part of the beginner level competition with the goal: To apply the tools of machine learning to predict which passengers survived the Titanic tragedy. 

We will keep using this dataset for learning and demonstration of the relevant tools and concepts. The exercises is carefully designed to let you apply what you learn here in your in-class project at the end which involves using data from [ANES (American National Election Study)](https://electionstudies.org/data-center/) to build prediction models.

First let us start with the Jupyter Notebook. 

It is composed of blocks that are called cells.

There are two types of cells:
* Code cells
* Markdown cells (for text)

You can change the cell type by clicking on the Cell Tab located at the header of the notebook and then selecting Cell Type and choosing the type of cells. Another way would be to use the shortcut (`Shift`+M) given below.

Press `Esc` to activate the command mode:
Shortcuts:
* A: Insert cell above
* B: Insert cell below
* C: Copy 
* V: Paste 
* X: Cut 
* DD: Delete 
* M: Convert to Markdown cell
* Shift: Let's you select multiple cells at once that you can copy/cut/delete.

To exit the command mode, simply press `Enter`.

You can run a cell using `Enter` + `Shift`. You should not be in the command mode to run the cell. Another way would be to use the Run button in the header at the top.

First we import the relevant python modules:

In [ ]:
import numpy as np
import pandas as pd

# The following two modules matplotlib and seaborn are for plots
import matplotlib.pyplot as plt
import seaborn as sns # Comment this if seaborn is not installed
%matplotlib inline

# The module re is for regular expressions
import re

Pandas: an excellent tool to work with datasets

Dataframes: the central data structure of pandas library
- Evolved out of tables
- Most suitable for data manipulation tasks  

Pandas is built on top of numpy. The crucial difference between numpy matrices and pandas Dataframes is that the columns in a Dataframe can be of different datatypes such as numerical, categorical, textual, etc.

First we load the [Titanic dataset from Kaggle](https://www.kaggle.com/c/titanic) stored in the `csv` file as a dataframe using [`read_csv`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html) function. Please download it from the Github repository [here](https://downgit.github.io/#/home?url=https://github.com/AashitaK/Claremont-Graduate-University-Guest-Lecture/blob/main/data/titanic.csv).

In [ ]:
from google.colab import files
uploaded = files.upload()

df = pd.read_csv('titanic.csv')

In [ ]:
# df

As it turns out to be rather big dataset to display, we can comment the above cell by adding # in front of df and run it again to get rid of the output.

Next, let's check the numbers of rows and columns in the dataset.

In [ ]:
df.shape

So, the dataset consists of 891 rows and 15 columns.

We use `head()` function to peek into the first 5 rows (or any number of rows by using `head(n)`).

In [ ]:
df.head()

[Description for the columns](https://www.kaggle.com/c/titanic/data) is as follows.  

|Variable|	Definition|	Key|   
|:---  |:--- |:---|
|PassengerId| Passenger ID |
|Survived| 	Survival|	0 = No, 1 = Yes |
|Pclass	|Ticket class|	1 = 1st, 2 = 2nd, 3 = 3rd|
|Sex	|Sex|	
|Age	|Age in years	|
|SibSp	|# of siblings / spouses aboard the Titanic	|
|Parch	|# of parents / children aboard the Titanic	|
|Ticket	|Ticket number	|
|Fare	|Passenger fare	|
|Cabin	|Cabin number	|
|Embarked	|Port of Embarkation	|C = Cherbourg, Q = Queenstown, S = Southampton|

* What do we mean by *features* in machine learning?

The final goal of the competition in Kaggle is to design a model to predict whether a passenger survives or not.

* Can this be a classification task?
* Which of the above features seem like important predictors?

### 1. Selecting rows and columns from the dataframe

How do we select a column from the dataframe? Say, we want to select the *Name* column from the dataframe. 

Remember, we used square brackets for indexing lists, strings and numpy arrays in Python, for example `A[0]`.

In [ ]:
df['Name'].head()

Since we do not want all the rows in the output, we have used `head()` function at the end.

How do we select multiple columns? Suppose we want to select the columns *Name, Sex* and *Age* from the dataframe. Hint: Use a list of columns inside the square brackets.

We can also select rows by putting a certain condition on a column. Say, we want only those rows for which the gender is *'female'*.

In [ ]:
df[df["Sex"] == "female"].head(3)

Now, we want to retrieve only the female passengers traveling in the first class. 
Hint: Add another conditional `df['Pclass']==1` to the above code using & and make sure to wrap the two conditionals with parenthesis.

We can also get the number of passengers using the shape method which gives us both the number of columns and the number of rows. Write the code to count the number of female passengers in the traveling in the first class.

#### The `loc` and `iloc` methods
So far, we have seen how to retrieve either some select columns or certain rows based on conditionals. What if we want to slice off a portion of the dataframe with some specific rows and columns? We use `.loc[]` or `.iloc[]` methods for this purpose. 
* `.iloc[]` method is primarily integer position based and gets rows/columns at particular positions in the index (so it only takes integers). 
* `loc[]` method is label based and gets rows/columns with particular labels from the index.

The `loc[]` method allows us to put conditions on rows and retrieve select columns simultaneously.

For example, we want to get the name and the survival information for all the adults above 70 years.

In [ ]:
df.loc[df['Age']>70, ['Name', 'Survived']]

Write the code to retrieve the **name, age and survival** information for all the **female passengers traveling in the first class**.

The `iloc[]` method let us retrieve rows by passing sequence of indexes. For example, we can select the rows numbered 100th to 105th. The indexing works exactly like python lists and numpy arrays.

In [ ]:
df.iloc[100:106]

Write the code to retrieve every 100th row from the dataframe.

## Instructions for the exercise sections:
- There are two exercise sections (section 2 and 3) below.
- The exercise involves new concepts not covered in the guided session. Please feel free to ask questions and take help from the instructor.
- The hints are provided for the exercises below. The built-in functions to be used are provided with a clickable link to the user manual. 
- The exercise session is time-bound and you are encouraged to work in groups to speed things up! 
- If you finish early, you can work on the optional section 4.

### 2. Exploring the dataset

Use [`describe`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.describe.html) function for numerical features (columns) to get a brief overview of the statistics of the data.

In [ ]:
df.describe()

Do the same as above for qualitative (non-numerical) features. Hint: Use `include=['O']` parameter in the [`describe`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.describe.html) function.

 Use the built-in pandas function to count the number of surviving and non-surviving passengers. Hint: Use [`value_counts()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.value_counts.html) on the column `df['Survived']`.

Below is a pie chart of the same using `matplotlib`:

In [ ]:
plt.axis('equal') 
plt.pie(df['Survived'].value_counts(), labels=('Died', "Survived"));

Below is a bar chart for the survival rate among male and female passengers using `seaborn`. Here is [Seaborn cheatsheet](https://s3.amazonaws.com/assets.datacamp.com/blog_assets/Python_Seaborn_Cheat_Sheet.pdf).

In [ ]:
sns.barplot(x = 'Sex', y = 'Survived', data = df);

Plot the survival rate among passengers in each ticket class.

We can also check the survival rate among both genders within the three ticket classes as follows.

In [ ]:
sns.barplot(x='Pclass', y='Survived', hue='Sex', data=df);

From the above chart, do you think that the gender affect the chance of survival for all the three ticket classes equally? Or does it seem like gender's effect is more pronounced for a certain ticket class passengers than others? We plot the  point estimates and confidence intervals for each sub-category to see it more clearly.

In [ ]:
sns.pointplot(x='Sex', y='Survived', hue='Pclass', data=df);

Notice the steeper slope for the second class.

It seems that gender and ticket class put together give more information about the survival chance than both of them separately. Please feel free to later explore other variables and combination of variables in depth in your own time.

How many children were on board? Hint: Use indexing on rows using conditional on the *Age* column and then the [`shape`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.shape.html) method to count the rows as seen above.

How many of the children on board survived? Hint: Add another conditional for the *Survived* column to the above code.

### 3. Using regular expressions for data extraction 

Now, we are going to create a new feature (column) for titles of the passengers. For that, let us first take a look at the passengers' names.

In [ ]:
df.loc[:20, 'Name'].values

We notice one of the identifying characteristics of the titles above are that they end with a period. Regular expressions are very useful in the process of data extraction and we will use them using the python module `re` to extract the titles from the *Name* column. We will use regular expressions characters to construct a pattern and then use built-in function `findall` for pattern matching.

Some useful regular expression characters:
- `\w`: pattern must contain a word character, such as letters.
- `[ ]`: pattern must contain one of the characters inside the square brackets. If there is only one character inside the square brackets, for example `[.]`, then the pattern must contain it.

Let's try this.

In [ ]:
re.findall("\w\w[.]", 'Braund, Mr. Owen Harris')

It worked! It returned a list instead of the string, so we use indexing to get the first element of the list.

In [ ]:
re.findall("\w\w[.]", 'Braund, Mr. Owen Harris')[0]

Let us try it on another name:

In [ ]:
re.findall("\w\w[.]", 'Heikkinen, Miss. Laina')[0]

So, we want a pattern that automatically detects the length of the title and returns the entire title.

For regular expressions, \+ is added to a character/pattern to denote it is present one or more times. For example, `\w+` is used to denote one or more word characters. Fill in the regular expression in the below cell that will detect a period preceeded by one or more word characters.

In [ ]:
# Fill in below:
re.findall("FILL IN HERE", 'Heikkinen, Miss. Laina')[0]

The output should be `'Miss.'`

Summary: For pattern matching the titles using regular expressions:
- First we make sure it contains a period by using `[.]`. 
- Secondly, the period must be preceeded by word characters (one or more), so we use `\w+[.]`.

Write a function `get_title` that takes a name, extracts the title from it and returns the title.

In [ ]:
def get_title(name):
    # FILL IN HERE
    
    return title

Check that the function is working properly by running the following two cells.

In [ ]:
get_title('Futrelle, Mrs. Jacques Heath (Lily May Peel)')

The output should be `'Mrs.'`. Note: Make sure that the funtion returns a string and not a list. Please modify the above function accordingly.

In [ ]:
get_title('Simonius-Blumer, Col. Oberst Alfons')

The output should be `'Col.'`.

Create a new column named Title and extract titles from the Name column using the above function `get_title`. Hint: Use built-in [`map()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.map.html) function. The syntax is `df['New_column'] = df['Relevant_column'].map(function_name)`.

Let us peek into the dataframe to see the changes.

In [ ]:
df.head()

### 4. Detecting and filling missing values (Optional homework exercise):

Use the functions [`isnull()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.isnull.html) and [`sum()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sum.html) functions (piped one after the other) on the dataframe to find out the number of missing values in each column.

Detecting missing values is an important first step in Feature Engineering, that is preparing the features (independent variables) to use for building the machine learning models. The next step is to handle those missing values. Depending on the data, sometimes it is a good idea to drop the rows or columns that have some or a lot of missing values, but that also means discarding relevant information. Another way to handle missing values is to fill them with something appropriate. 

1. Discuss the pros and cons of dropping the rows and/or columns with missing values in general. Should you drop none, all or some of the columns for this particular dataset in view of building the predictive model? Same question for dropping the rows with missing values.
3. If you consider filling the missing values, what are the possible options? Can you make use of other values in that column to fill the missing values? Can you make use of other values in that row as well as values in that column to fill the missing values 
4. Can the title in the name column be used for guessing a passengers' age based on the age values of other passengers with the same title?

What is the most common port of embarkment? Hint: Check the frequency (counts) of each value in the Embarked column using the built-in function [`value_counts()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.value_counts.html) as seen above.

As we saw above, there are missing values in the column for *Embarked*. Fill them with the most commonly occuring value. Hint: Use [`fillna()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.fillna.html).

Let us check whether the missing values for the *Embarked* column is indeed filled.

In [ ]:
df.isnull().sum()

If not, there are two options to fix this. One is to set `inplace` parameter in the `fillna()` function as `True` and another is to use assignment operator `=` as in `df = df.function()`. 

***Question***: Why is the `inplace` keyword False by default? This is true not just for `fillna()` but for most built-in functions in pandas. 

Answer: To facilitate method chaining or piping i.e. invoking multiple operations one after the other. For example, `df.isnull().sum()` used above. Chaining is more commonly used in pandas as compared to another programming style i.e. using nested function calls. Please read more [here](https://towardsdatascience.com/the-unreasonable-effectiveness-of-method-chaining-in-pandas-15c2109e3c69), if interested.

We should remove the *Cabin* column from the DataFrame-- too many values are missing. Hint: Use [`drop()`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.drop.html) with appropriate value for the `axis` keyword.

Let us check whether the column is indeed dropped. If not, modify the code above accordingly.

In [ ]:
df.head()

What is the median age of passengers? Hint: Use the inbuilt function [`median`](http://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.median.html).

What is the median age of passengers with the title 'Miss.'? Hint: Use [`loc[]`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.loc.html) method for slicing off the select rows and the *Age* column.

What is the median age of passengers with the title 'Mrs.'?

Is there a noticeble difference in the median ages for the passengers with the above two titles? Should we take titles into account while filling the missing values for the *Age* column? If yes, how?

#### Acknowledgment:
* [Titanic dataset from Kaggle](https://www.kaggle.com/c/titanic) dataset openly available in Kaggle is used in the exercises.